* {
    list-style: none;
    box-sizing: border-box;
    font-family: Roboto, serif;
    font-size: 10px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
